{% extends "layout.html" %}
{% load static %}
{% block content %}
<section id="new-arrivals" class="new-arrivals">
    <div class="container" style="margin-top: 180px">
        <div class="section-header">
            <h2>Cuadros</h2>
        </div><!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
                {% for producto in productos %}
                    {% if producto.categoria.nombre == 'Cuadros' %}
                        <div class="col-md-3 col-sm-4">
                            <div class="single-new-arrival">
                                <div class="single-new-arrival-bg">
                                    <img src="{{ producto.image.url }}" alt="{{ producto.nombre }}">
                                    <div class="single-new-arrival-bg-overlay"></div>
                                    {% if producto.stock > 0 %}
                                        <div class="sale bg-1">
                                            <p>En stock</p>
                                        </div>
                                    {% else %}
                                        <div class="sale bg-2">
                                            <p>Agotado</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <h4><a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a></h4>
                                <p class="arrival-product-price">{{ producto.precio }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div><!--/.container-->
</section><!--/.muebles-->
{% endblock %}