{%extends "layout.html"%}

{% load static %}

{% block header %}
{% endblock %}

{%block content%}
{% load crispy_forms_tags %}

    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="col-md-4">
			<div class="card">
				
				<div class="card-body">
					<h4 class="card-title text-center">¡Registrate!</h4>
					<form class="forms-sample" action="" method="post">
                        {% csrf_token %}
                        {{form | crispy }}

						<div class="text-center mt-2">
							<button type="submit" id="login-submit" name="submit" class="btn btn-primary btn-lg me-2 mt-3">
								Registrarse
							</button>
						</div>

						<h5 class="text-center text-muted mt-4 mb-0">¿Ya tiene cuenta? <a href="{% url 'login' %}"
								class="fw-bold text-body"><h5><u>Inicia sesión</u><h5></a></h5>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}